@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper {
  padding: 16px;
  background: white;
  color: black;
  border-radius: 8px;
  margin: 1rem;
}

.wrapper h2 {
  margin-bottom: 16px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 4px dotted hsl(0deg 0% 30%);
  animation: fadeIn 500ms both;
  animation-delay: 200ms;
}

.wrapper ol {
  list-style-type: none;
  min-height: 10rem;
}

.wrapper button {
  border: none;
  background: none;
}

.books {
  display: flex;
  overflow-x: scroll;
}

.bookCover {
  display: block;
  aspect-ratio: 7.25 / 11;
  height: 15rem;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0px -22px 16px -16px hsl(0deg 0% 0% / 0.4);
  z-index: 100;
}
