* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: rgb(92, 85, 255);
  background: radial-gradient(
    circle,
    rgba(92, 85, 255, 1) 0%,
    rgba(8, 16, 25, 1) 100%
  );
}
